<!DOCTYPE html>
<html lang="en">

<%- include('head', {}); %>

<body>

<section class="page-section" id="contact">
    <div class="container text-center">
        <h1 class="my-5">Welcome to the dashboard, administrator!</h1>
        <h3 class="my-5">Enter your password:</h3>
        <form method="post" action="/admin">
            <div class="form-group col-lg-6 col-md-10 mx-3 d-inline-block">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <% if (correctPassword === false) { %>
                <%- include('password-wrong', {}); %>
            <% } %>
            <button type="submit" class="btn btn-primary row">Log me in</button>
        </form>
    </div>
</section>

<%- include('footer', {}); %>

<%- include('scripts', {}); %>

</body>

</html>
