<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">How to Find Us?</h2>
                <hr class="divider my-4">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 ml-auto col-sm-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="googleMapFrame" class="embed-responsive-item"
                            src="https://maps.google.com/maps?q=midland%20community%20&t=k&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
                </div>
            </div>
            <div class="col-lg-6 mr-auto col-sm-12">
                <h4 class="mt-4 ml-2">9110 Warm Springs Road Midland, Georgia 31820</h4>
                <h5 class="text-muted ml-2">(the corner of Warm Springs and Garrett Roads)</h5>
                <p class="text-muted ml-2">
                    <br>
                    <b>From Columbus:</b><br>
                    Head east on Manchester Expressway (north GA-85 / US-27 Alt.)
                    Take the County Line Road exit, and turn left across the bridge.
                    Go a quarter mile and turn right onto Garrett Road.<br><br>
                    <b>From Warm Springs or Waverly Hall:</b><br>
                    Head south on GA-85. Go four miles past Ellerslie, turn right at
                    the County Line Road exit, and right again at Garrett Road.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                <hr class="my-4">
            </div>
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (706) 507-0357</div>
            </div>
            <a class="col-lg-4 ml-auto text-center mb-5 mb-lg-0"
               href="https://www.facebook.com/Midland-Community-Farmers-Market-584202175008593/">
                <i class="fab fa-facebook-square fa-3x mb-3 text-muted"></i>
                <div>Follow us on Facebook</div>
            </a>
            <a class="col-lg-4 mr-auto text-center" href="mailto:MidlandCFM@gmail.com">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in anchor text AND the link below! -->
                <div class="d-block"> MidlandCFM@gmail.com</div>
            </a>

        </div>
    </div>
</section>
