<!DOCTYPE html>
<html lang="en">

<%- include('head', {}); %>

<body>

<section class="page-section" id="contact">
    <div class="container text-center">
        <h1 class="my-5">Welcome to the dashboard, administrator!</h1>
        <h3>Under Construction</h3>
    </div>
</section>

<%- include('footer', {}); %>

<%- include('scripts', {}); %>

</body>

</html>
