<!-- Gallery Section -->
<section id="gallery">
    <div class="container-fluid p-0 bg-light">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
            </div>
            <a class="nav-link col-lg-4 col-sm-6 text-center m-auto d-inline-block" href="https://www.facebook.com/pg/Midland-Community-Farmers-Market-584202175008593/photos/?tab=album&album_id=602111083217702&ref=page_internal">
                <h2>Click here for more<br><br><i class="fas fa-mouse-pointer"></i></h2>
            </a>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
            </div>
        </div>
    </div>
</section>
