<%- include('head', {}); %>

<section class="page-section bg-light" id="questions">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-3">Having trouble on the payment?</h1>
            <p class="lead">We are sorry for the inconvenience. If you're having some troubles on the payment, just send us an email.</p>
            <hr>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>
</section>

<%- include('contact', {}); %>

<%- include('footer', {}); %>

<%- include('scripts', {}); %>