<%- include('head', {}); %>

<section class="page-section bg-light" id="questions">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead">We appreciate your donation to Midland United Methodist Church. Please present your ID for the event.</p>
            <hr>
            <p>
                Having trouble? <a class="js-scroll-trigger" href="#contact">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>
</section>

<%- include('contact', {}); %>

<%- include('footer', {}); %>

<%- include('scripts', {}); %>