<!-- Reservation Section -->
<section class="page-section bg-dark text-white" id="reservation">
    <div class="container text-center">
        <h1 class="mb-4">Reservation</h1>
        <hr class="divider my-4">

        <div class="row my-5">
            <div class="col-6 text-center">
                <a class="btn btn-light btn-xl reservation-btn" data-toggle="collapse" href="#multiCollapseExample1"
                   role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Weekly Market</a>
            </div>
            <div class="col-6 text-center">
                <a class="btn btn-light btn-xl reservation-btn" data-toggle="collapse" href="#multiCollapseExample2"
                   role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample2">Spring Fling</a>
            </div>
        </div>
        <div id="reservation-box">
            <div class="collapse multi-collapse" id="multiCollapseExample1" data-parent="#reservation-box">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid map-rounded" src="img/market-spaces/Spaces - Main Field.jpg"
                             alt="Main Field">
                    </div>
                    <div class="col-lg-6 my-auto px-4 pt-4">
                        <form method="post" action="/">
                            <div class="form-group">
                                <label for="inputName" class="text-white">Your name</label>
                                <input type="text" class="form-control" id="inputName" name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="inputSell" class="text-white">Items being sold - NO FRANCHISE SALES</label>
                                <input type="text" class="form-control" id="inputSell" name="selling" maxlength="20"
                                       required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <label for="inputPhone" class="text-white">Phone number</label>
                                    <input type="tel" class="form-control" id="inputPhone" name="phone" maxlength="14" required>
                                </div>
                                <div class="form-group col-7">
                                    <label for="inputEmail" class="text-white">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" name="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSpot" class="text-white">Choose a spot</label>
                                <select id="inputSpot" class="form-control" name="spot">
                                    <option selected>Spot #2</option>
                                    <option>Spot #3</option>
                                    <option>Spot #4</option>
                                    <option>Spot #5</option>
                                    <option>Spot #6</option>
                                    <option>Spot #7</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary btn-xl mt-3" data-toggle="modal"
                                    data-target="#exampleModalLong" id="reserve-button">Reserve Right Now
                            </button>

                            <p class="my-3 col-12" id="agreement-message"><i class="far fa-check-circle"></i>&nbsp;&nbsp;You've
                                agreed our term of services</p>
                            <button type="submit" class="btn btn-primary btn-xl mt-3" id="pay-button" disabled>Pay With
                                PayPal
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark" id="exampleModalLongTitle">Term of
                                                Services</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-dark">
                                                <%- reservation.termOfServices %>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                    onclick="agreeTermOfService()">I Agree
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample2" data-parent="#reservation-box">
                <div class="card card-body text-muted">
                    Under Construction
                </div>
            </div>
        </div>


    </div>
</section>
