<!-- Reservation Section -->
<section class="page-section bg-dark text-white" id="reservation">
    <div class="container text-center">
        <h2 class="mb-4">Reservation - Weekly Market</h2>
        <hr class="divider my-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="my-2 text-dark">Main Field</h2>
                    <img class="img-fluid rounded-lg" src="img/market-spaces/Spaces - Main Field.jpg"
                         alt="Main Field">
                </div>
                <div class="col-lg-6 my-auto px-4">
                    <form>
                        <div class="form-group">
                            <label for="inputFirstName" class="text-primary">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName">
                        </div>
                        <div class="form-group">
                            <label for="inputLastName" class="text-primary">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                        <div class="form-group">
                            <label for="inputSpot" class="text-primary">Reserving for</label>
                            <select id="inputSpot" class="form-control">
                                <option selected>Spot #2</option>
                                <option>Spot #3</option>
                                <option>Spot #4</option>
                                <option>Spot #5</option>
                                <option>Spot #6</option>
                                <option>Spot #7</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label text-primary" for="gridCheck">
                                    I understand the </label>
                                <a href="#" title="" class="sign-agreement">agreement</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Pay with PayPal</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
