a {
    color: #f54940;
}

#googleMapFrame{
    border-radius: 8px;
}

.about-us-links {
    color: #ffe6e6;
}

.about-us-links:hover{
    color: white;
}


.nav-logo{
    background-image: url(../img/navLogo.png);
    padding-left: 60px;
    font-size: medium;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-primary {
    background-color: #f54940!important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f54940 !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f54940 !important;
}

.btn-primary {
  color: #fff;
  background-color: #f54940;
  border-color: #f54940;
}

hr.divider {
    border-color: #f54940!important;
}

.text-primary {
    color: #f54940!important;
}

hr.light {
    border-color: #fff!important;
}

