#googleMapFrame{
    border-radius: 8px;
}

.about-us-links {
    color: white;
}

.nav-logo{
    background-image: url(../img/navLogo.png);
    padding-left: 60px;
    font-size: medium;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-primary {
    background-color: #f54940!important;
}
