#googleMapFrame{
    border-radius: 8px;
}

.about-us-links {
    color: white;
}

.navbar-logo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}